<div class="nav-vim vim-normal hidden-xs hidden-sm">
  <div class="text-center nav-vim vim-cmd">NORMAL</div>

  <div class="text-center nav-vim vim-vcs">
    <i class="fa fa-code-fork"></i>
    source <span class="pull-right">|</span>
  </div>

  <div class="text-center nav-vim vim-name">{{ page.navbar | downcase }}.html</div>

  <div class="text-center nav-vim vim-middle">&nbsp;</div>

  <div class="text-center nav-vim vim-ff">unix <span class="pull-right">|</span></div>

  <div class="text-center nav-vim vim-ft">html</div>

  <div class="text-center nav-vim vim-line-percent">0%</div>

  <div class="text-center nav-vim vim-line-current">
    <i class="fa fa-bars"></i>
    <span class="vim-line-row">0</span>:1
  </div>
</div>
