---
layout: page
navbar: Resume
title: "Resume"
comments: false
sharing: false
footer: true
sidebar: false
---

#resume-page.container
  .row
    .col-md-12
      %h1 Bao Pham
      %p.lead
        %i
          :markdown
            Developer at [Appnovation](http://www.appnovation.com/)

  %h3 Skills
  %hr
  .row
    .col-md-4.text-center
      %ul.list-unstyled
        %li Java
        %li C
        %li PHP
        %li Python
        %li Ruby
    .col-md-4.text-center
      %ul.list-unstyled
        %li HTML5, CSS
        %li Angular, React, Redux
        %li Node.js, Express.js
        %li Meteor.js
    .col-md-4.text-center
      %ul.list-unstyled
        %li MySQL, MongoDb
        %li Drupal, Rails, Laravel
        %li Apache
        %li Git / Subversion
  %h3 Projects
  %hr
  .row
    .col-md-3
    .col-md-9
      %p.lead Github
      %ul.list-unstyled
        %li
          Most of my projects are hosted on
          %a{:href => "http://github.com/baopham"} Github
        %li Languages: JavaScript, VimL, Ruby, Python, PHP, Shell

  %h3 Experience
  %hr
    :markdown
      See [Linkedin](https://ca.linkedin.com/in/baoph)

  %h3 Education
  %hr
  .row
    .col-md-3.text-left
      %p.lead May 2014
    .col-md-9
      %p.lead.text-center University of British Columbia
      %ul
        %li Combined Major in Math and Computer Science, graduated with distinction
        %li Faculty of Science International Student Scholarship
        %li Science Scholar (a standing of 90% or better)
        %li Dean's Honour List (a standing of 80% or better)
        %li President Entrance Scholarship
  %hr
  .row
    .col-md-3.text-left
      %p.lead Jan 2013 - May 2013
    .col-md-9
      %p.lead.text-center National University of Singapore (Exchange)
      %ul
        %li Received NUS-UBC Lee Foundation Award
        %li We won 3rd place for an HCI Group Project on the improvement of the photocopy machine interface

  %h3 Interests
  %hr
  .row
    .col-md-3
    .col-md-9
      %ul
        %li What fascinates me: Math, Vim, ZSH, HTML5, JavaScript, Ruby.
        %li Where I like to hang out: Hacker News, Github.
