---
layout: page
navbar: Resume
title: "Resume"
comments: false
sharing: false
footer: true
sidebar: false
---

#resume-page.container
  .row
    .col-md-9
      %h1 Bao Pham
      %p.lead
        %i 4<sup>th</sup> year Math and Computer Science
    .col-md-3
      %h3
        %a.btn.btn-primary{:href => "{{ root_url }}/assets/files/resume.pdf"} Download PDF
  %h3 Skills
  %hr
  .row
    .col-md-4.text-center
      %ul.list-unstyled
        %li Java
        %li C
        %li PHP
        %li Python
        %li Shell
        %li Matlab
    .col-md-4.text-center
      %ul.list-unstyled
        %li HTML5, CSS
        %li JavaScript
        %li jQuery
        %li AJAX
        %li Knockout.js
        %li Node.js, Express.js
    .col-md-4.text-center
      %ul.list-unstyled
        %li MySQL
        %li Drupal CMS
        %li Apache
        %li Git / Subversion
  %h3 Projects
  %hr
  .row
    .col-md-3
    .col-md-9
      %p.lead Github
      %ul.list-unstyled
        %li
          Most of my projects are hosted on
          %a{:href => "http://github.com/baopham"} Github
        %li Languages: JavaScript, VimL, Ruby, Python, PHP, Shell
        %li
          %strong Most recent projects
          %ul
            %li
              %a{:href => "http://vancouverfountains.herokuapp.com"} Find a drinking fountain in Vancouver
            %li
              %a{:href => "http://bpmtimer.herokuapp.com"} Timer

  %h3 Experience
  %hr
  .row
    .col-md-3.text-left
      %p.lead May 2013 - August 2013
      %strong Developer (Co-op)
    .col-md-9
      %p.lead.text-center Appnovation Techonologies
      %ul
        %li Worked directly with the clients and participated in Scrum meetings and Sprint planning
        %li Performed Sprint demo
        %li Actively involved in the development and maintenance of both front-end and back-end code
        %li Exhibited strong Drupal development best practices
        %li Worked with the security team to ensure the security of the client's site
        %li Developed various custom Drupal modules, including a module to batch-create users and custom structures to help with the load testing
        %li Actively involved in 3 projects during a 4 month Co-op work term. One of the project teams was awarded the "Team of the Year" at Appnovation
        %li Worked extensively in PHP (Drupal), JavaScript, jQuery, AJAX, MySQL, CSS, HTML5
  %hr
  .row
    .col-md-3.text-left
      %p.lead May 2012 - August 2013
      %strong Developer (Co-op)
    .col-md-9
      %p.lead.text-center University of British Columbia, Computer Science Dept
      %ul
        %li Learned PHP and Drupal from scratch
        %li Created a PHP web application to convert bibliography files to CSV
        %li Developed 2 custom modules for UBC Drupal website:
        %ul
          %li Integrated with UBC's recording system to let user schedule a recording and upload it to Youtube
          %li Implemented customizable features to Computer Science room booking system
        %li Contributed to Drupal community by developing a BibTeX plugin for Views Datasource module
        %li Provided patches for various Drupal modules, such as Organic Group, OG Access Roles, Node Access User Reference, OG Archive Groups
  %hr
  .row
    .col-md-3.text-left
      %p.lead Sept 2011 - April 2012
      %strong Bioinformatics (Co-op)
    .col-md-9
      %p.lead.text-center Genome Sciences Centre
      %ul
        %li Key person to process the team QC's reports to online services for down stream research
        %li Developed Python modules for the team to parse report files to HTML and upload to Plone
        %li Collaborated closely with the team members to help produce and format accurate reports
        %li Coded shell scripts to extract data from the system
        %li Had the opportunity to work with the underlying distributed system consisting of multiple databases
        %li Displayed strong analytical skills by finishing work with minimal supervision and in a short period of time
  %h3 Education
  %hr
  .row
    .col-md-3.text-left
      %p.lead May 2014
    .col-md-9
      %p.lead.text-center University of British Columbia
      %ul
        %li Combined Major in Math and Computer Science
        %li Faculty of Science International Student Scholarship
        %li Dean’s Honour List
        %li Awarded President Entrance Scholarship for excellent performance in High School
  %hr
  .row
    .col-md-3.text-left
      %p.lead Jan 2013 - May 2013
    .col-md-9
      %p.lead.text-center National University of Singapore (Exchange)
      %ul
        %li Received NUS-UBC Lee Foundation Award
        %li We won 3rd place for an HCI Group Project on the improvement of the photocopy machine interface

  %h3 Interests
  %hr
  .row
    .col-md-3
    .col-md-9
      %ul
        %li What fascinates me: Math, Vim, ZSH, HTML5, JavaScript, Ruby.
        %li Where I like to hang out: Hacker News, Github.
