---
layout: page
title: "Privacy Policy"
navbar: "Privacy"
sidebar: false
comments: false
sharing: true
footer: true
---

%p
  Like many other website owners, I use 
  %a{:href => "http://www.google.com/analytics/"} Google Analytics
  to better understand the kind of people who visit my site.
%p Google Analytics allows me to generate reports about the number of visitors, your browsers and OS, visit duration, ... However, all these data are completely anonymous.

%p
  For more information, you can consult the
  %a{:href => "http://www.google.com/analytics/terms/us.html"} Google Analytics Terms of Service

%strong Opt Out
%p 
  You can install
  %a{:href => "https://tools.google.com/dlpage/gaoptout?hl=en"} a browser plugin
  to opt out of all Google Analytics tracking software.
