/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
  height: 100%;
  color: #666;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  padding-top: 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
  height: 60px;
}

.noise-bg {
  background: url('/images/noise.png') repeat scroll left top #F8F8F8;
}

/**** HEADER ****/
.header {
  // Negative indent by navbar's margin-bottom
  margin-top: -20px;
  padding: 40px 20px 20px;
}

/**** POST CONTENT ****/
.entry-content {
  line-height: 1.8em;
  font-weight: 300;
}

/**** SIDEBAR ****/
aside.sidebar {
  height: 100%;
  padding: 30px;
  @extend .noise-bg;
}

/**** NAVBAR ****/
.navbar {
  .navbar-brand {
    font-weight: bold;
  }
  .nav-vim {
    &:after {
      clear: both;
    }
  }
  .nav-vim.vim-normal {
    font-family: Consolas, monaco, monospace;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
    .vim-cmd {
      background-color: rgb(161,211,6);
      width: 10%;
      color: rgb(50,130,21);
      float: left;
    }
    .vim-vcs {
      background-color: rgb(70,70,70);
      width: 11%;
      color: rgb(174,174,174);
      float: left;
    }
    .vim-name {
      background-color: rgb(70,70,70);
      width: 11%;
      color: rgb(174,174,174);
      float: left;
    }
    .vim-middle {
      background-color: rgb(36,36,36);
      width: 29%;
      float: left;
    }
    .vim-ff {
      background-color: rgb(36,36,36);
      width: 9%;
      float: left;
    }
    .vim-ft {
      background-color: rgb(36,36,36);
      width: 9%;
      float: left;
    }
    .vim-line-percent {
      background-color: rgb(70,70,70);
      width: 10%;
      color: rgb(174,174,174);
      float: left;
    }
    .vim-line-current {
      background-color: rgb(197,197,197);
      width: 11%;
      float: left;
    }
  }
  .nav-vim.vim-insert {
    .vim-cmd {
      background-color: white;
      color: rgb(23,76,124); 
      width: 10%;
      float: left;
    }
    .vim-vcs {
      background-color: rgb(35,116,159); 
      color: rgb(119,206,255);
      width: 11%;
      float: left;
    }
    .vim-name {
      background-color: rgb(35,116,159); 
      color: white;
      width: 11%;
      float: left;
    }
    .vim-middle {
      background-color: rgb(23,76,116);
      width: 29%;
      float: left;
    }
    .vim-ff, .vim-ft {
      background-color: rgb(23,76,116); 
      color: white;
      width: 9%;
      float: left;
    }
    .vim-line-percent {
      background-color: rgb(35,116,159); 
      color: white;
      width: 10%;
      float: left;
    }
    .vim-line-current {
      background-color: rgb(119,206,255);
      color: rgb(61,87,115);
      width: 11%;
      float: left;
    }
  }
}


/**** CONWAY GAME OF LIFE ****/
#canvas_life {
  width: 100%;
  border: 1px solid #ccc;
}

/**** MATRIX ****/
.matrix {
  float: left;
  padding-right: 20px;
}

.matrix-post #selection {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

.matrix-row > input {
  width: 180px;
}

#compute {
  padding-bottom: 10px;
}

/* Radio buttons */
#selection {
  input.radio {
    display: inline;
    position: relative;
    margin-left: 0.2em;
  }
  label {
    display: inline;
    position: relative;
  }
}

/**** CHESS ****/
table.chess {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0px;
  td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 38px;
  }
}

.chess {
  .odd {
    background-color: #F8F8F8 ;
  }
  .even {
    background-color: #BDBDBD;
  }
}

#editable {
  width: 100%;
  height: 280px;
  border: 1px dotted;
  overflow: auto;
  padding: 5px;
}

#editable-sec {
  width: 367px;
}

[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/**** FANCYBOX ****/
a.fancybox {
  text-decoration: none;
}
